*{
    box-sizing: border;
    margin: 0;
    padding: 0;
}
.img {
    /*Tip css hình ảnh để giới hạn kích thước hình ảnh*/
    max-width: 100%;
    vertical-align: middle;
    height: auto; 
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.product {
    width: 400px;
}
.post:hover {
    box-shadow: 0px 0px 8px rgb(126, 115, 115);
    border-radius: 5px;
}

.post-thumbnail {
    margin-bottom: 10px;
}

.post-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-content {
    padding: 15px;
}

.post-excerpt {
    line-height: 1.5;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 10px;
}

.post-meta {
   border-top: 1px solid rgb(168, 152, 152);
   padding: 10px 15px;
}

.post-view {
    display: inline-block;
}

.post-published {
    display: inline-block;
    margin-left: 210px;
}
