.clickbox {
    background-color: rgb(94, 125, 219);
    border: 2px solid rgb(76, 112, 221);
    border-radius: 2px;
    color: whitesmoke;
    cursor: pointer;
    margin-right: 0.5px; 
}
.container {
    width: 90px;
    margin: auto;
}